
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .divi {
        background-color: rgb(185, 229, 215);
        width: 50%;
        border-radius: 10px;
        border: 10px solid rgb(70, 68, 67);
        border-bottom: none;
        margin: 10px auto;
        padding: 2%;
        text-align: justify;
        box-shadow: 10px 10px 10px gray;
    }
    .header{
        background-color: rgb(115, 155, 190);
        color: rgb(87, 75, 58);
        height: 300px;
        width:50%;
        border-radius: 10px;
        text-align: center;
        padding: 2%;
        margin: 10px auto;
        background-image: url("image/two.jpg");
        box-shadow: 10px 10px 10px gray;

    }